__pycache__/
*.pyc
.venv/
*.db
.env
.vscode/
**.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.tfstate.lock.info
**/*.tfvars
**/*.tfvars.json
**/*.auto.tfvars
**/*.auto.tfvars.json
**/override.tf
**/override.tf.json
**/_override.tf
**/_override.tf.json
**/crash.log
**/crash.*.log
**/*.tfplan
/aws/